body{
  background:#f2f4f8;
}

.navbar{
  margin:0 2px 10px;
}

.navbar__search{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px 0px;
}
.navbar *{
  font-size:16px;
}
.navbar__search > input{
  width:82%;
  padding:20px;
  background:white;
  border:none;
  font-size:18px;
  font-weight:500;
}

::placeholder{
  font-size:16px;
}
.navbar__search > input:focus{
  outline:2px solid #000;
}

.navbar__search > button{
  padding:20px;
  border:none;
  background:#181818;
  color:white;
  border-top-right-radius:3px;
  border-bottom-right-radius: 3px;
  font-weight:500;
  cursor:pointer;
}

.navbar__search > button:hover{
  background:#000;
}
.product__image{
  width:250px;
  height:200px;
  object-fit:cover;
  margin:0 auto;
  background:white;
  box-shadow:1px 2px 3px #333;
  cursor:pointer; 
}

.product__image:hover{
  opacity:0.8;
  transform: scale(1.05);
}

.image__container{
  height: 260px;
  color: white;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
}

.App{
  max-width:800px;
  margin:0 auto;
  padding:20px;
  margin-top:40px;
}
.image__wrapper{
  position:relative;
}
#product__name{
  position:absolute;
  margin:0;
  padding:8px;
  top:0;
  left:0;
  background:black;
  opacity:0.8;
}

@media(max-width:840px){
  .App{
    max-width:550px;
  }
}

@media(max-width:591px){
  .App{
    max-width:560px;
  }
}

@media(max-width:580px){
  .App{
    width:90vw;
  }

  .product__image{
    width:300px;
    height:250px;
  }
}

@media(max-width:350px){
  .App{
    width:90vw;
  }
  .image__container{
    display:inline-block;
    margin:0 auto;
  }
  .product__image{
    width:280px;
    height:230px;
  }
}